.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: #1d1d1d;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.card-title {
    color: #fff47d;
}

.card-description {
   font-size: 10px; 
   text-align: justify;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    color: #fff47d;
}

.card-selecionado {
    border: 1px solid #fff47d;
}

.img{
    border-radius: 10px;
}